J3

Walking:32.1869
Walking Carrying Weight:24.1402
Horseback Daily Min:32.1869
Horseback Daily Max:48.2803
Caravel Daily Min:144.841
Caravel Daily Max:160.934
Kayak Daily:24.1402
By Pigeon Daily:965.606