E2
0
Mindless:0
Instinctive:1
Animalistic:2
High Animalistic:3
Below Average:4
Average:5
Above Average:6
Gifted:7
Genius:8
Extraordinary Genius:9
Supergenius:10
Nigh-Omniscient:11
Omniscient:12
