E2
0
Inapplicable:0
Below Average Human:1
Average Human:2
Above Average Human:3
Athletic Human:4
Peak Human:5
Superhuman:6
Class 1:7
Class 5:8
Class 10:9
Class 25:10
Class 50:11
Class 100:12
Class K:13
Class M:14
Class G:15
Class T:16
Class P:17
Class E:18
Class Z:19
Class Y:21
Pre-Stellar:22
Stellar:23
Multi-Stellar:24
Galactic:25
Multi-Galactic:26
Universal:27
Infinite:28
Immeasurable:29
