E2
0
N/A:0
Line of Sight:1
Below Standard Melee Range:2
Standard Melee Range:3
Extended Melee Range:4
Several Meters:5
Tens of Meters:6
Hundreds of Meters:7
Kilometers:8
Tens of Kilometers:9
Hundreds of Kilometers:10
Thousands of Kilometers:11
Planetary:12
Stellar:13
Interplanetary:14
Interstellar:15
Galactic:16
Intergalactic:17
Universal:18
High Universal:19
Universal+:20
Interdimensional:21
Low Multiversal:22
Multiversal:23
Multiversal+:24
Low Complex Multiversal:25
Complex Multiversal:26
High Complex Multiversal:27
Hyperversal:28
High Hyperversal:29
Low Outerversal:30
Outerversal:31
Outerversal+:32
High Outerversal:33
Boundless:34
