E2
0
N/A:0
Below Standard Melee Range:1
Standard Melee Range:2
Extended Melee Range:3
Several Meters:4
Tens of Meters:5
Hundreds of Meters:6
Kilometers:7
Tens of Kilometers:8
Hundreds of Kilometers:9
Thousands of Kilometers:10
Planetary:11
Stellar:12
Interplanetary:13
Interstellar:14
Galactic:15
Intergalactic:16
Universal:17
High Universal:18
Universal+:19
Interdimensional:20
Low Multiversal:21
Multiversal:22
Multiversal+:23
Low Complex Multiversal:24
Complex Multiversal:25
High Complex Multiversal:26
Hyperversal:27
High Hyperversal:28
Low Outerversal:29
Outerversal:30
Outerversal+:31
High Outerversal:32
Boundless:33
