E2
0
Immobile:0
Below Average Human:2
Average Human:3
Athletic Human:4
Peak Human:5
Superhuman:6
Subsonic:7
Subsonic+:8
Transonic:9
Supersonic:10
Supersonic+:11
Hypersonic:12
Hypersonic+:13
High Hypersonic:14
High Hypersonic+:15
Massively Hypersonic:16
Massively Hypersonic+:17
Sub-Relativistic:18
Sub-Relativistic+:19
Relativistic:20
Relativistic+:21
Speed of Light:22
FTL:23
FTL+:24
Massively FTL:25
Massively FTL+:26
Infinite Speed:27
Immeasurable:28
Omnipresent:29
