E2
0
11-C - Low Hypoverse:1
11-B - Hypoverse:2
11-A - High Hypoverse:3
10-C - Below Average Human:4
10-B - Human:5
10-A - Athlete:6
9-C - Street:7
9-B - Wall:8
9-A - Small Building:9
8-C - Building:10
High 8-C - Large Building:11
8-B - City Block:12
8-A - Multi-City Block:13
Low 7-C - Small Town:14
7-C - Town:15
High 7-C - Large Town:16
Low 7-B - Small City:17
7-B - City:18
7-A - Mountain:19
High 7-A - Large Mountain:20
6-C - Island:21
High 6-C - Large Island:22
Low 6-B - Small Country:23
6-B - Country:24
High 6-B - Large Country:25
6-A - Continent:26
High 6-A - Multi-Continent:27
5-C - Moon:28
Low 5-B - Small Planet:29
5-B - Planet:30
5-A - Large Planet:31
Low 4-C - Small Star:32
4-C - Star:33
High 4-C - Large Star:34
4-B - Solar System:35
4-A - Multi-Solar System:36
3-C - Galaxy:37
3-B - Multi-Galaxy:38
3-A - Universe:39
High 3-A - High Universe:40
Low 2-C - Universe+:41
2-C - Low Multiverse:42
2-B - Multiverse:43
2-A - Multiverse+:44
Low 1-C - Low Complex Multiverse:45
1-C - Complex Multiverse:46
High 1-C - High Complex Multiverse:47
1-B - Hyperverse:48
High 1-B - High Hyperverse:49
Low 1-A - Low Outerverse:50
1-A - Outerverse:51
High 1-A - High Outerverse:52
0 - Boundless:53
